
@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>

<p style="text-align:justify;">
    “I have been working with Optra since 2010, more than 7 years now. Optra is more than just a company or a job for me, but a great place where my career has shaped. I started here as a Scientific Data Curator and got appropriately promoted over the period of time. Working here is always a pleasure, it’s like an extended family. The leadership of the company is always approachable even to junior employees. They know how to groom the positives of the people and how to negate their negatives. I owe my good career and personal growth to Optra and hope to be a part of this family for many more years to come.

    Another attraction to boost the overall personal interaction within people and explore the talent is the regular HR events, few like fun Fridays, group outings, team lunch/ dinner, annual event, etc. These events give a well-deserved break from the challenges, pumping back enthusiasm and the zeal to win.”
</p>


